@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;}

:root {
  --cores-white: #ffffff;
  --cores-accent-600: #4863f7;
  --cores-accent-500: #7878d7;
  --cores-gray-900: #0d0d0d;
  --cores-gray-800: #111111;
  --cores-gray-700: #1a1a1a;
  --cores-gray-200: #424242;
  --cores-gray-100: #737373;
}
body {
  background-color: var(--cores-gray-900);
  color: var(--cores-white);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
header{
    background-color:var(--cores-gray-200);
    padding: 10px;
    border-radius: 10px;
    margin: 0px;
    text-align: center;
    display: block;}
h1{
    color: white;
    padding: 10px;}

li{
    display: none;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    background-color: var(--cores-gray-700);
    list-style-type: none;
    line-height: 1.3;
    border-radius: 5px;
    transition: 0.3s;
    margin-bottom: 2px; /*é o espaçamento entre cada item da lista*/
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;}
li:hover{
    opacity: 0.5;
    text-decoration: underline;
    color: white;
}
main{
    padding: 20px;
    gap: 20px;
}
h2{
    margin: 0px;
    color: white;
    padding: 20px;
    padding-left: 0%;
}
p{
    width: 50%;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: justify;
    color: white;}
nav{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
#itens.open li{
    /* quando o nav tiver a classe 'open', mostre os itens */
    display: flex;
}
#menu{
    background-color: var(--cores-gray-700);
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    padding: 5px;
}
#menu:hover{
    background-color: var(--cores-gray-800);
    cursor: pointer;
}